:root{
    --primary-color: #CDE4FE ;
    --secondary-color: #334A65 ;
    --tertiary-color: #B8CBCB ;
    --quanternary-color: #D19A8A ;
    --quinary-color: #FED1CD ;
    --light-color: #dacfcf;
    --medium-color: #7c7272 ;
    --dark-color: #252424 ;
}
.bg-custom {
    background: var(--light-color);
}
.navbar-brand,
.nav-link {
    color: var(--dark-color);
}
.Desc_Slugcat_Name,
.Desc_Sprite_Name {
    color: var(--primary-color);
}
body{
    background-color: var(--secondary-color);
}